<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/output.css">
    <title>Articles</title>
</head>

<body>
    <h1 class="justify-center items-center flex flex-col ">Elenco Articoli Salvati</h1>
    <ul id="articles-list" class="m-4 list-decimal">
        <% articles.forEach(article=> { %>
            <li>
                <h2>
                    <%= article.title %>
                </h2>
            </li>
            <% }) %>
    </ul>
    <script src="/scripts/articles.js"></script>
</body>

</html>