<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/output.css">
    <title>Edit Article</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
</head>

<body>
    <div class="flex flex-row items-center justify-between m-4">
        <h1>Editing Article</h1>
        <button id="save-button" class="btn btn-success text-white">Save</button>
    </div>
    <input type="hidden" id="article-id" value="<%= articleId %>">
    <textarea id="editor"></textarea>

    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="/scripts/edit.js"></script>
</body>

</html>