<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Utenti</title>
    <link rel="stylesheet" href="/style/output.css">
</head>

<body>
    <div class="mx-auto max-w-6xl w-full flex flex-col gap-4">
        <div class="flex justify-between items-center">
            <h1 class="font-bold text-xl">Lista utenti</h1>
            <button onclick="openCreateUserModal()" class="btn btn-primary">Aggiungi utente</button>
        </div>
        <dialog id="userModal" class="modal">
            <div class="modal-box flex flex-col gap-4">
                <h3 class="font-bold text-lg">Nuovo utente</h3>
                <form id="userForm" class="flex flex-col gap-4">
                    <input name="firstName" placeholder="Nome" type="text" class="input input-bordered w-full">
                    <input name="lastName" placeholder="Cognome" type="text" class="input input-bordered w-full">
                    <input type="date" name="datanascita" placeholder="Data" class="input input-bordered w-full">
                    <input name="email" placeholder="Email" type="text" class="input input-bordered w-full">
                    <input name="password" placeholder="Password" type="password" class="input input-bordered w-full">
                    <input name="valPassword" placeholder="Conferma Password" type="password"
                        class="input input-bordered w-full">
                    <div class="modal-action">
                        <button type="button" class="btn" onclick="userModal.close()">Chiudi</button>
                        <button class="btn btn-primary">Salva</button>
                    </div>
                </form>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
        <div class="overflow-x-auto">
            <table class="table table-zebra" id="userTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Email</th>
                        <th>DataNascita</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <dialog id="deleteUser" class="modal">
        <div class="modal-box flex flex-col gap-4">
            <p>Sei sicuro di voler eliminare questo utente?</p>
            <div class="modal-action">
                <button type="button" class="btn btn-secondary" onclick="confirmDeleteUser()">Conferma</button>
                <button type="button" class="btn" onclick="deleteUserModal.close()">Annulla</button>
            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>

    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
    <script src="/scripts/moment.js"></script>
    <script src="/scripts/users.js"></script>
</body>

</html>